# =========================
# Dependencias
# =========================
node_modules/

# =========================
# Variables sensibles
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / cache
# =========================
dist/
coverage/

# =========================
# Sistema / OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
